/* Fonte */
* {
  font-family: "Roboto", sans-serif;
}

/* Cores */
body {
  background-color: #1a1a1a; /* Preto suave */
  color: #e6e6e6; /* Cinza claro */
}

.primary-bg-color {
  background-color: #262626; /* Cinza escuro */
}

.secondary-bg-color {
  background-color: #262626; /* Cinza quase preto */
}

.light-bg-color {
  background-color: #1a1a1a; /* Preto suave */
}

.dark-bg-color {
  background-color: #0d0d0d; /* Preto profundo */
}

.primary-color {
  color: #b3b3b3; /* Cinza suave */
}

.secondary-color {
  color: #b3b3b3; /* Cinza claro */
}

.light-color {
  color: #e6e6e6; /* Cinza claro */
}

/* Navbar */
#navbar .navbar-nav {
  flex-direction: row;
  justify-content: end;
}

#navbar .navbar-nav li {
  margin: 1em;
}

#navbar a, #nav-link,
#navbar button {
  color: #e6e6e6; /* Cinza claro */
  transition: color 0.3s, background-color 0.3s; /* Adiciona uma transição suave */
  
}

#navbar a:hover, a.nav-link, a.nav-link:hover,
#navbar button:hover {
  color: #C09578; /* Tom de dourado suave para o hover */
  background-color: #262626; /* Fundo escuro para realçar o hover */
  border-radius: 5px; /* Bordas arredondadas para o efeito de hover */
  transition: color 0.3s, background-color 0.3s; /* Adiciona uma transição suave */
}

#navbar li {
  position: relative;
}

#navbar i {
  font-size: 20px;
}

#navbar .navbar-brand {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 4em; /* Aumente o tamanho da fonte conforme necessário */
  width: 100%;
  text-align: justify;
  color: #b3b3b3; /* Ajuste a cor para complementar o design da logo */
}

@media (max-width: 768px) {
  #navbar .navbar-brand {
    font-size: 2.5em; /* Tamanho da fonte reduzido para telas menores */
    text-align: center; /* Centraliza o texto em dispositivos móveis */
  }
}


@media (min-width: 768px) {
  .navbar-brand {
      text-align: left;
  }
}

#navbar-items {
  justify-content: space-between;
}

.navbar-brand img {
  height: 40px; /* Ajuste conforme o tamanho desejado */
  max-height: 60px; /* Limita o tamanho máximo para manter a responsividade */
  width: auto; /* Mantém a proporção da imagem */
}


@media (min-width: 768px) {
  #navbar-items {
      min-width: 80%;
      display: flex;
  }
}

#search-form {
  width: 100%;
  margin: 2em 0;
}

@media (min-width: 768px) {
  #search-form {
      width: 50%;
      margin: 0;
  }
}

#search-form {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  position: relative;
}

.search-icon {
  position: absolute;
  left: 10px;
  color: #b3b3b3; /* Cinza suave */
  font-size: 20px;
}

#search-form input {
  background-color: transparent;
  border: 2px solid #b3b3b3; /* Cinza suave */
  border-radius: 3px;
  padding: 5px 15px 5px 35px; /* Ajuste para espaço do ícone */
  color: #e6e6e6; /* Cinza claro */
  width: 100%;
}

#search-form button {
  margin-left: 10px;
}

#search-form input:focus {
  box-shadow: none;
}

#search-form input::placeholder {
  color: #b3b3b3; /* Cinza suave */
}

/* Bottom Navbar */
#bottom-navbar-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #262626; /* Fundo mais escuro */
  padding: 10px 20px;
  
}

#bottom-navbar-container a {
  font-weight: 600;
  color: #e6e6e6; /* Cinza claro */
  padding: 10px 15px;
  margin: 0 10px;
  background-color: #262626; /* Fundo dos botões */
  border-radius: 5px; /* Canto arredondado dos botões */
  transition: background-color 0.3s, color 0.3s; /* Transições suaves */
}

#bottom-navbar-container a:hover {
  background-color: #C09578; /* Fundo mais escuro no hover */
  color: #fff; /* Texto branco no hover */
}

.navbar-toggler {
  font-size: 1.5em;
  background-color: #444; /* Fundo do botão toggler */
  color: #e6e6e6; /* Cor do ícone */
  border: none; /* Remover borda padrão */
  padding: 5px 10px;
  border-radius: 5px; /* Canto arredondado do botão */
}

.navbar-toggler:hover {
  background-color: #555; /* Fundo mais escuro no hover */
  color: #fff; /* Cor do ícone no hover */
}

/* Estilos responsivos */
@media (max-width: 768px) {
  #bottom-navbar-container {
    flex-direction: column; /* Colocar itens em coluna em telas pequenas */
    align-items: flex-start;
    background-color: #fff; /* Fundo mais escuro no hover */
    color: #fff; /* Cor do ícone no hover */
  }

  #bottom-navbar-container a {
    margin: 5px 0;
    width: 100%; /* Botões ocupando toda a largura */
    text-align: center;
  }

  .navbar-toggler {
    font-size: 1.2em;
    padding: 8px 12px;
  }
}


/* Banners */
#banners-container {
  padding: 0;
}

.carousel-caption {
  bottom: 5em;
  padding: 1em;
  left: 12%;
  right: 12%;
}

.carousel-caption h5 {
  font-size: 1.8em;
  color: #e6e6e6; /* Cinza claro */
}

@media (min-width: 768px) {
  #slider .carousel-item,
  #slider img {
      height: 600px;
  }

  .carousel-caption {
      left: 23%;
      right: 23%;
  }

  .carousel-caption h5 {
      font-size: 4em;
  }
}

@media (max-width: 767px) {
  .carousel-caption {
    display: none;
  }
}


/* Mini Banners */
#mini-banners {
  margin-top: -3em;
  z-index: 10;
}

#mini-banners .col-12 {
  z-index: 1;
  height: 300px;
  padding: 1.5em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 768px) {
  #mini-banners .col-12 {
      max-width: 30%;
  }
}

#mini-banners .col-12 h2 {
  text-transform: uppercase;
  max-width: 50px;
  font-size: 2.2em;
  font-weight: 700;
  line-height: 1em;
  color: #e6e6e6; /* Cinza claro */
}

#mini-banners .col-12 img {
  height: 220px;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

#mini-banners .col-12 a {
  font-weight: bold;
  color: #e6e6e6; /* Cinza claro */
  font-size: .8rem;
  transition: .5s;
}

#mini-banners .col-12 a:hover {
  color: #b3b3b3; /* Cinza suave */
}

#mini-banners #mini-banner-1 a:hover {
  color: #b3b3b3; /* Cinza suave */
}

#mini-banners #mini-banner-3 a {
  color: #e6e6e6; /* Cinza claro */
}

#mini-banners #mini-banner-3 a:hover {
  color: #b3b3b3; /* Cinza suave */
}

/* Best Sellers */
#best-sellers {
  padding: 4em 0;
}

#best-sellers h2 {
  color: #262626;
}

#best-sellers .row {
  margin: 0;
}

#best-sellers .col-md-3 {
  padding: 0;
}

.title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.5em;
  margin-bottom: 1em;
  text-align: center;
  color: #e6e6e6; /* Cinza claro */
}

@media (min-width: 768px) {
  .title {
      text-align: left;
  }
}

.card {
  text-align: center;
  border-radius: 0;
  background-color: #262626; /* Cinza quase preto */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 140px;
  margin: 2em auto;
}

.card .card-category {
  font-size: .8rem;
  color: #262626; /* Cinza suave */
}

.card .card-text {
  margin: 2em 0;
  font-weight: bold;
  color: #626262; /* Cinza claro */
}

.card-body .btn {
  background-color: #262626; /* Cor de fundo escura */
  color: #e6e6e6; /* Cor do texto clara */
  border: 1px solid #e6e6e6; /* Borda clara */
}

.card-body .btn:hover {
  background-color: #404040; /* Cor de fundo um pouco mais clara para o hover */
  color: #ffffff; /* Cor do texto no hover */
  border-color: #ffffff; /* Borda no hover */
}

/* Bottom Banner */
#bottom-banner {
  background-color: #1a1a1a; /* Preto suave */
  padding: 6em;
  margin-bottom: 4em;
  text-align: center;
}

#bottom-banner .offer-subtitle,
#bottom-banner h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: #e6e6e6; /* Cinza claro */
}

#bottom-banner .btn {
  margin: 2em;
  font-weight: bold;
  padding: 1em;
  color: #262626; /* Cinza quase preto */
  background-color: #b3b3b3; /* Cinza suave */
}

#bottom-banner img {
  max-width: 175px;
}

@media (min-width: 768px) {
  #bottom-banner h2 {
      font-size: 6em;
  }
}

/* Novos Produtos */
#new-products {
  margin-bottom: 5rem;
}

#new-products-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a; /* Preto suave */
  padding: 2em 0;
}

#new-products-banner h3 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  color: #e6e6e6; /* Cinza claro */
}

#new-products .btn {
  background-color: #262626; /* Cor de fundo escura */
  color: #e6e6e6; /* Cor do texto clara */
  border: 1px solid #e6e6e6; /* Borda clara */
}

#new-products .btn:hover {
  background-color: #404040; /* Cor de fundo um pouco mais clara para o hover */
  color: #ffffff; /* Cor do texto no hover */
  border-color: #ffffff; /* Borda no hover */
}


#new-products h2 {
  color: #262626;
}

#new-products .col-md-4 {
  padding: 0;
}

#new-products .card img {
  height: 150px;
  width: 90px;
  margin: 2em auto;
}

/* GALLERY */
#gallery .image-container {
  background-size: cover;
  background-position: center;
  height: 225px;
  cursor: pointer;
  transition: .5s;
  border: 3px solid #101010;
}

#gallery .image-container:hover {
  border-color: #C09578;
}

#insta1 {
  background-image: url('../img/insta1.jpg');
  background-size: cover;
  background-position: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

#insta1:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

#insta2 {
  background-image: url('../img/insta2.jpg');
  background-size: cover;
  background-position: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

#insta2:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

#insta3 {
  background-image: url('../img/insta3.jpg');
  background-size: cover;
  background-position: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

#insta3:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

#insta4 {
  background-image: url('../img/insta4.jpg');
  background-size: cover;
  background-position: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

#insta4:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

#insta5 {
  background-image: url('../img/insta5.jpg');
  background-size: cover;
  background-position: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

#insta5:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

#insta6 {
  background-image: url('../img/insta6.jpg');
  background-size: cover;
  background-position: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

#insta6:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

/* FOOTER */
#footer-links-container {
  border-bottom: 1px solid #626262;
}

#footer .footer-column {
  padding: 2em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #101010; /* Fundo escuro */
  color: #b3b3b3; /* Texto em cinza suave */
}

@media(min-width: 795px) {
  #footer .footer-column {
    padding: 5em 2em;
  }
}

#footer-links-container h3 {
  margin-bottom: 25px;
  text-transform: uppercase;
  color: #e6e6e6; /* Cinza claro */
}

#footer-links-container li {
  font-size: 0.8em;
  text-align: center;
  color: #b3b3b3; /* Cinza suave */
}

@media(min-width: 795px) {
  #footer-links-container li {
    text-align: left;
  }
}

#footer-links-container li a {
  text-decoration: none;
  color: #e6e6e6; /* Cinza claro */
}

#footer-links-container li a:hover {
  color: #C09578; /* Tom dourado */
}

#footer-center {
  border-left: 1px solid #626262;
  border-right: 1px solid #626262;
  background-color: #0d0d0d; /* Preto profundo */
}

#footer-center h3 {
  font-weight: 900;
  color: #e6e6e6; /* Cinza claro */
}

#footer-center .store-phone {
  color: #C09578; /* Tom dourado */
  font-weight: bold;
  font-size: 2rem;
  margin-top: -15px;
}
/* Footer Bottom */
#footer-bottom {
  background-color: #0d0d0d; /* Preto profundo */
  padding: 1.5em 0;
  text-align: center;
  color: #b3b3b3; /* Cinza suave */
  font-size: 0.8rem;
}

/* NEWS */
#newsletter-container {
  background-color: #ffffff; /* Preto intenso */
  border-bottom: 1px solid #626262;
  text-align: center;
  padding: 20px;
  color: #626262; /* Cinza claro */
}

#news-form {
  max-width: 600px;
  margin: 15px auto;
}

#news-form i {
  font-size: 1.5em;
  color: #C09578; /* Tom dourado */
}

#news-form .btn {
  color: #FFF;
  background-color: #C09578; /* Tom dourado */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#news-form .btn:hover {
  background-color: #b37b62; /* Tom dourado escuro */
}

#social-container {
  margin: 20px auto;
}

#social-container i {
  font-size: 1.5em;
  margin: 10px;
  cursor: pointer;
  color: #626262; /* Cinza intermediário */
  transition: color 0.3s;
}

#social-container i:hover {
  color: #C09578; /* Tom dourado */
}

/* COPY */
#copy-container {
  text-align: center;
  padding: 30px;
  background-color: #0d0d0d; /* Preto profundo */
  color: #b3b3b3; /* Cinza suave */
}

#copy-container p {
  font-size: 0.9rem;
  margin: 0;
}

#copy-container a {
  color: #C09578; /* Tom dourado */
  text-decoration: none;
}

#copy-container a:hover {
  text-decoration: underline;
}


